.promise-list {
  align-items: center;
  direction: rtl;
}

.promise-head {
  margin-top: 2%;
  margin-bottom: 1%;
  border: 2px solid lightseagreen;
  padding: 1%;
  font-size: 2vh;
  border-radius: 10px;
}

.list-item {
  padding-top: 5px;
  padding-bottom: 5px;
}

.promise-complete {
  background-color: lightseagreen;
}

.promise-in-progress{
  background-color: orange;
}