.search-container{
  display: flex;
  direction: rtl;
  margin: 0 50px;
}

.searchForm {
  margin: 0 auto;
  width: 100%;
  padding: 20px 15px;
  max-width: 1400px;
  direction: rtl;
}

.search-filter {
  width: 35%;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  margin-top: 20px;
  padding-top: 15px;
}

.search-form-top{
  z-index: 11;
  background: white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  margin-bottom: 15px;
}

.result-table{
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  margin-top: 15px;
}

.sort-panel {
  display: flex;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  padding-top: 5px;

  span{
    padding-top: 12px;
    margin-right: 20px;
    font-size: 15px;
    margin-left: 5px;
  }
}

.resultTab {
  text-align: right;
}

.input-range__label {
  direction: rtl;
}

.btn-search {
  background-color: deeppink;
  width: 100%;
}

.volume {
  width: 100%;
}

.request-modal {
  height: 50vh !important;
}

.volume a, .volume input {
  float: left;
}

.volume a.btn {
  background-color: #fff;
  width: 30%;
  height: 37px;
  padding: 10px 3%;
  color: #999;
  border: 1px solid #dfdfdf;
}

.no-touch .volume a.btn:hover {
  background-color: #fff;
  color: #333;
  border-color: #999;
}

.volume a.btn.btn-round-left {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.volume a.btn.btn-round-right {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.volume input.form-control, .volume input.form-control[readonly] {
  width: 40%;
  text-align: center;
  border-radius: 0;
  box-shadow: none;
  border: 0 none;
  border-top: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
  border-left: 0 none;
  border-right: 0 none;
  -webkit-appearance: none;
  background-color: #fff;
  color: #333;
  font-size: 13px;
}

.resultTab {
  margin-left: -30px;
}

.resultTab li {
  display: inline-block;
  padding: 10px 15px;
  border-bottom: 3px solid transparent;
  cursor: pointer;
  margin: 0 1px;
}

.resultTab li:hover, .resultTab li.active {
  border-color: #28a745 !important;
  text-decoration: none;
}

.resultTab li.active a {
  color: black;
}

.resultsMap {
  width: 100%;
  padding: 10px;
  min-height: 300px;
  height: 100vw;
  max-height: 700px;
}

.fab {
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 10;
  background-color: #0d908d;
  padding: 15px;
  border-radius: 50%;
  display: none !important;

  .fab-icon {
    width: 30px;
    height: 30px;
  }
}

@media screen and (max-width: 767px) {
  .resultTab ul {
    padding-left: 10px;
  }
  .resultTab {
    margin-left: -10px;
  }
  .searchForm {
    padding: 15px 5px;
  }
  .search-container{
    margin: 0 5px;
  }
  .sort-tabs {
    padding: 0;
  }
}

@media screen and (max-width: 1080px) {
  .search-container{
    margin: 0 5px;
  }
  .span-result-size {
    display: none;
  }
  .nav-tabs {
    width: 100%;
  }
  .sort-title {
    display: none;
  }
  .fab {
    display: block !important;
  }
}
